[user]
    name = "Trond Viggo Håpnes"
    email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"trond.hapnes@gmail.com"{{ end }}

[github]
    user = trondvh

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = false

[includeIf "gitdir:~/Development/Personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/Development/Mestergruppen/"]
    path = ~/.gitconfig-mg

[includeIf "gitdir:~/Development/Jobr/"]
    path = ~/.gitconfig-jobr

[includeIf "gitdir:~/Development/Buypass/"]
    path = ~/.gitconfig-buypass
