{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{- if .packages.darwin.mas }}
echo "Installing mas packages..."
{{ range .packages.darwin.mas -}}
mas install {{ . | quote }}
{{ end -}}
{{- end }}
{{ end -}}
